.header{
    width: 100%;
    display: flex;
    justify-content inline-size: ;: ;
}
.div1{
    display: flex;
    align-items: left;
}
.div2{
    display: block
    rigth: 0 
    justify-content: space-between;
    marging-rig
    
}